# render with:
# sed "s@%REPO%@${repo}@" constructor/construct.yaml.template > constructor/construct.yaml
#
name: PlantSeg
version: "2.0.0b9"
channels:
  - file://%REPO%
  - conda-forge
specs:
  - plantseg=2.0.0b9
  - console_shortcut # [win]
license_file: ../LICENSE
welcome_image: ../docs/logos/logo.png
icon_image: ../Menu/logo.png
register_python: false
initialize_conda: true
menu_packages:
  - plantseg
